# Environments
.env
.env.local

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node
node_modules/
frontend/dist/

# Output Data
backend/exports/
backend/data_preview/
*.sqlite3
*.db

# IDEs
.vscode/
.idea/
.DS_Store

# Scratch / temp
scratch/
